.flex-container-nav {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    /* border-style: dotted;
    border-color: red; */
}
.flex-item {
    justify-content: flex-start;
    /* border-style: dotted;
    border-color: red; */
}
.flex-item:nth-child(2) {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    /* border-color: blue; */
}
.flex-item:last-child {
   flex-grow: 1;
    /* border-style: dotted;
    border-color: red; */
}