.flex-container-nav {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    /* border-style: dotted;
    border-color: red; */
}
.flex-item {
    justify-content: flex-start;
    /* border-style: dotted;
    border-color: red; */
}
.flex-item:nth-child(2) {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    /* border-color: blue; */
}
.flex-item:last-child {
   flex-grow: 1;
    /* border-style: dotted;
    border-color: red; */
}
.flex-container-cards {
    align-items: center;
    /* border-style: dotted;
    border-color: red; */
}
.card {
    padding-top: 5%;
    /* border-style: dotted;
    border-color: blue; */
}
.card-img-top {
    width: 357.75px;
    height: 357.75px;
    align-self: center;
}
body {
    background-image:linear-gradient(to bottom, #f5f5f5 0%,rgba(255, 255, 255, 0.6) 50%), url("../img/coffee.png"), url("../img/taco.png");
    background-repeat:no-repeat, no-repeat;
    background-position: 0% 0%, 5% 25%, 95% bottom;
    background-size: 100%, 250px ,250px;
}
#gmap_canvas {
    display: flex;
    align-content: flex-end;
    margin: 15px auto;
    border: 5px solid black
}
#intro {
    margin-top: 30px;
    text-align: center;
}
th, td {
    text-align: center
}
#table * {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#title{
    text-align: center;
}

h3, h4{
    text-align: center;
}
.debate{
    display: inline-block;
    border-radius: 25px;
    border: 3px solid #73AD21;
    padding: 20px;
    margin: 0 50px; 
    width: 40%;
    height: 400px; 
    overflow: scroll;
}
#coffee{
    margin: 15px;
}
.flex-container{
    margin: 60px 70px;
}